html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 30px;
    background-color: #ff9933;
}

.container{
    background-color: #ffffe6;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align:center;
}

.navbar-header{
    width: 100%;
}

.aligner-right{
    float: right;
}
.aligner-left{
    float: left;
}
hr{
    border: none;
    width: 90%;
    height: 1px;
    background-color: #d0d0d0;
    color: #d0d0d0;
}

.profile_button_container{
    padding-top: 8px;
    padding-right: 8px;
}
.page_container{
    min-height: 90%;
}

.ostoskori_header{
    padding-bottom: 8px;
    padding-right: 15px;
}

.lufti_control_fix{
    padding-left: 15px;
    padding-bottom: 15px;
}

.login_container{
    padding: 5px;
}

.login_field{
    width: 100%;
}

/*
Reconficuration of the default bootstrap navbar colors because it's ugly. Link to the tool and settings that were used:
http://work.smarchal.com/twbscolor/css/dff0d8d6e9c63c763d3c763d0
*/

.navbar-default {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.navbar-default .navbar-brand {
  color: #3c763d;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #3c763d;
}
.navbar-default .navbar-text {
  color: #3c763d;
}
.navbar-default .navbar-nav > li > a {
  color: #3c763d;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3c763d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
}
.navbar-default .navbar-toggle {
  border-color: #d6e9c6;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d6e9c6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3c763d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3c763d;
}
.navbar-default .navbar-link {
  color: #3c763d;
}
.navbar-default .navbar-link:hover {
  color: #3c763d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3c763d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3c763d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3c763d;
    background-color: #d6e9c6;
  }
}

